<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Imagens Inseridas</h1>
            <button>Fechar</button>
        </div>
        <div class="images-box">
            <div id="images-preview">
                
            </div>
        </div>
    </div>
</div>