{% extends "template.njk" %}

{% block content %}

    <main>
        <div class="initial-box">
            <h1 class="initial">Bem vindo ao ReadMe Maker!</h1>
            <p class="initial">Estamos ansiosos para saber sobre seu projeto</p>
            <p class="initial">Vamos Iniciar?</p>
            <button class="initial" id="button-start">OK!</button>
        </div>
        <form class="form" action="/maker" method="post" enctype="multipart/form-data">

            {# CARD 01 #}

            <div class="logo-title">
                <h1>Primeiras Informações</h1>
                <p>Qual o título do seu projeto?</p>
                <input 
                    type="text" 
                    name="title"
                    placeholder="Título do Projeto"
                >
                <p>Seu projeto possui uma logomarca?</p>
                <input 
                    type="url" 
                    name="logo"
                    placeholder="https://"
                >
                <p class="file">Caso prefira, envie seu arquivo: 
                    <span class="tooltip">
                        <img src="/info-24px.svg" alt="Info">
                        <span class="tooltip-box">Dê preferência inserir links ao invés de arquivos, 
                            sua imagem pode não estar disponível o tempo todo.<br/>
                            Você pode hospedar seus arquivos online e disponibilizar um link para nós.
                            <br/> <strong>Aceitamos o máximo de 1MB por arquivo.</strong>
                        </span>
                    </span>
                </p>
                <div class="input-file">
                    <input 
                        type="file" 
                        name="logo_file" 
                        accept=".png, .jpg, .jpeg, .svg, .gif" 
                        hidden="hidden" 
                        onchange="PhotosUpload.apply('handleFileInputLogo', event)"
                    >
                    <button type="button" id="file-button">Enviar arquivo</button>
                    <button type="button" id="file-viewer1">Galeria</button>
                </div>
                <button id="button-next">Próximo</button>
            </div>

            {# CARD 02 #}

            <div class="images-gif">
                <div class="label">
                    <img src="/arrow_back-24px.svg" alt="Backward">
                    <h1>Mostra o seu projeto pra gente!</h1>
                </div>
                <p>Inclua gifs e/ou imagens do seu projeto funcionando para o seu readme ficar bem visual!</p>
                <div id="url-img">
                    <div class="input-url">
                        <input
                            type="url"
                            name="images[]"
                            placeholder="Gifs ou imagens"
                        >
                    </div>
                </div>
                <p id="add-image">+ Adicionar Arquivo</p>
                <p class="file">Caso prefira, envie seu(s) arquivo(s):
                    <span class="tooltip">
                        <img src="/info-24px.svg" alt="Info">
                        <span class="tooltip-box">Dê preferência inserir links ao invés de arquivos, 
                            sua imagem pode não estar disponível o tempo todo.<br/>
                            Você pode hospedar seus arquivos online e disponibilizar um link para nós.
                            <br/> <strong>Aceitamos o máximo de 1MB por arquivo.</strong>
                        </span>
                    </span>
                </p>
                <div class="input-file">
                    <input 
                        type="file" 
                        name="images_file" 
                        accept=".png, .jpg, .jpeg, .svg, .gif" 
                        multiple
                        hidden="hidden" 
                        onchange="PhotosUpload.apply('handleFileInputProject', event)"
                    >
                    <button type="button" id="file-button2">Enviar arquivo</button>
                    <button type="button" id="file-viewer2">Galeria</button>
                </div>
                <button id="button-next2">Próximo</button>
            </div>

            {# CARD 03 #}

            <div class="about">
                <div class="label">
                    <img src="/arrow_back-24px.svg" alt="Backward">
                    <h1>Agora a gente quer saber...</h1>
                </div>
                <p>Do que se trata o seu projeto?</p>
                <textarea name="about" cols="30" rows="6"></textarea>
                <p>Qual o motivo de realizá-lo?</p>
                <textarea name="reason" cols="30" rows="6"></textarea>
                <button id="button-next3">Próximo</button>
            </div>

            {# CARD 04 #}

            <div class="last-informations">
                <div class="label">
                    <img src="/arrow_back-24px.svg" alt="Backward">
                    <h1>Para finalizar</h1>
                </div>
                <p>Quais tecnologias foram utilizadas?</p>
                <div id="features">
                    <div class="features-input">
                        <input
                            type="text"
                            name="features[]"
                        >
                    </div>
                </div>
                <p id="add-tec">+ Adicionar Tecnologia</p>
                <div class="contribution">
                    <p>Adicionar detalhes de como contribuir com o projeto?</p>

                    <label for="contribution-yes">Sim
                        <input type="radio" name="contribution" value="sim" checked="checked" id="contribution-yes">
                    </label>
                    
                    <label for="contribution-no"> Não
                        <input type="radio" name="contribution" value="nao" id="contribution-no"> 
                    </label>
                </div>
                <div class="license">
                    <p>Licença</p>
                    <select name="license">
                        <option value="">Nenhuma</option>
                        <option value="MIT">MIT</option>
                        <option value="APACHE">Apache</option>
                        <option value="GLP">GLP</option>
                    </select>
                </div>

                <button id="button-finish" type="submit">Finalizar</button>
            </div>
        </form>
    </main>

{% endblock %}