{% extends "template.njk" %}

{% block content %}

  <div class="readme-out">
    <div>
      <h1>Aqui está o seu ReadMe!</h1>
      <h3>Você pode redimensionar o tamanho das suas imagens nas propriedades width e heigth.</h3>
      <h3>Adicione instruções específicas.</h3>

      {# EDIÇÃO DO README #}

<textarea name="" id="" cols="30" rows="40">
{{data.title}}

___

{{data.logo}}

{% if data.licenseCode %}
{{data.license}}

___
{% endif %}
{{data.headerLinks}}

___

{{data.images}}
## :information_source: Sobre

{{data.about}}

## :interrobang: Motivo

{{data.reason}}

## :rocket: Tecnologias Utilizadas 

O projeto foi desenvolvido utilizando as seguintes tecnologias
{{data.tecnologies}}
{% if data.contribution %}
## :link: Como contribuir 

{{data.contribution}}{% endif %}
{% if data.licenseCode %}
## Licença 

Esse projeto está sob a licença {{data.licenseCode}}. Veja o arquivo [LICENSE](LICENSE) para mais detalhes.{% endif %}</textarea>
  </div>
</div>

{% endblock %}