<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>ReadMe Maker</title>
</head>
<body>

    {% block content %} {% endblock %}

<script src="/scripts.js"></script>
</body>
</html>